// primero se llama utilities
@import "./utilities/mixins";
@import "./utilities/variables";

// Despes se elije la carpeta base

@import "./base/reset";
@import "./base/bg-h2";
@import "./base/setFooter";
// despues layout 

@import "./layout/navbar";
@import "./layout/footer";
@import "./layout/main-index";
@import "./layout/main-galeria";
@import "./layout/main-AcercaDeNosotros";
// components

// mediaquery

@import "./layout/media/media320-768";
@import "./layout/media/media320";
@import "./layout/media/media375";
@import "./layout/media/media425";
@import "./layout/media/media768";
@import "./layout/media/media1024";
@import "./layout/media/media1440";