// primero se llama utilities
@import "./utilities/mixins";
@import "./utilities/variables";
@import "./utilities/maps";
// Despes se elije la carpeta base

@import "./base/reset";
@import "./base/setFooter";
// despues layout 

@import "./layout/navbar";
@import "./layout/footer";
@import "./layout/main-index";
@import "./layout/main-tienda";
@import "./layout/main-galeria";
@import "./layout/main-comunidad";
@import "./layout/main-AcercaDeNosotros";
@import "./layout/main-ubicacion";
@import "./layout/error404";
// components

// mediaquery

@import "./layout/media/media320-768";
@import "./layout/media/media320";
@import "./layout/media/media375";
@import "./layout/media/media425";
@import "./layout/media/media768";
@import "./layout/media/media1024";
@import "./layout/media/media1440";