header{
    background-color: rgb(91, 85, 185);
    section{
        background-color: aqua;
        nav{
            background-color: blue;
            a{
                background-color: aqua;
            }
        }
    }
}