@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fot {
  height: 100vh;
}

.header-ubicacion {
  height: auto;
}

.main-ubicacion {
  height: 80%;
}

.footer-ubicacion {
  height: auto;
}

header section {
  display: flex;
  background-color: #303030;
}
header section .nav-wrapper {
  width: 100%;
}
header section .nav-wrapper label {
  display: none;
  padding: 0.625rem;
  margin: 0.625rem;
}
header section .nav-wrapper #toggle {
  display: none;
}
header section .nav-wrapper nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header section .nav-wrapper nav .Logo {
  font-weight: 700;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}
header section .nav-wrapper nav .Logo img {
  width: 60px;
  flex-direction: left;
  position: relative;
  align-items: center;
}
header section .nav-wrapper nav a {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}
header section .nav-wrapper ul {
  list-style: none;
}
header section .nav-wrapper ul .menu-contenido {
  background-color: #303030;
}
header section .nav-wrapper ul .menu-contenido:active {
  background-color: #303030;
}
header section .nav-wrapper .navbar {
  margin: 0%;
  gap: 0.625rem;
}
header section .nav-wrapper .navbar a {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}
header section .nav-wrapper .navbar a:hover {
  color: rgb(194, 118, 104);
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.3s;
}

#footer {
  display: flex;
  background-color: #303030;
  position: sticky;
  padding-bottom: 0;
  margin: 0;
}
#footer .acomodar {
  display: flex;
}
#footer .acomodar .copyright {
  display: flex;
  list-style-type: none;
  gap: 0.625rem;
  margin: 10px;
  padding: 1.875rem;
  color: #fff;
}
#footer .acomodar .mover {
  display: flex;
  align-items: center;
}
#footer .acomodar .mover .red {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  list-style-type: none;
  right: 0;
  gap: 0.625rem;
  margin: 10px;
  padding: 10px;
}
#footer .acomodar .mover .red li {
  width: 100%;
}
#footer .acomodar .mover .red li img {
  width: 2.5rem;
}

.reseña {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  align-items: center;
  font-size: 1em;
  gap: 40px;
  display: flex;
}

.move {
  display: flex;
  flex-direction: row-reverse;
}

.cliente {
  width: 35vw;
  max-width: 1000px;
  min-width: 320px;
  height: 35vw;
  max-height: 1000px;
  min-height: 320px;
  margin: auto;
  overflow: hidden;
  border: 0.125rem solid;
  border-radius: 100%;
}
.cliente img {
  width: 100%;
}

.arte {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(3, 200px);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 50px;
  grid-template-areas: "arte-1 arte-1 arte-1 arte-2 arte-5 arte-5" "arte-1 arte-1 arte-1 arte-2 arte-4 arte-4" "arte-1 arte-1 arte-1 arte-3 arte-4 arte-4";
}

.arte_grid-1, .arte_grid-5, .arte_grid-4, .arte_grid-3, .arte_grid-2 {
  grid-area: arte-1;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}
.arte_grid-1 img, .arte_grid-5 img, .arte_grid-4 img, .arte_grid-3 img, .arte_grid-2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.arte_grid-1:hover, .arte_grid-5:hover, .arte_grid-4:hover, .arte_grid-3:hover, .arte_grid-2:hover {
  transform: scale(1.1);
  z-index: 2;
  transition: transform 0.3s;
}

.arte_grid-2 {
  grid-area: arte-2;
}

.arte_grid-3 {
  grid-area: arte-3;
}

.arte_grid-4 {
  grid-area: arte-4;
}

.arte_grid-5 {
  grid-area: arte-5;
}

.mural-item_arte {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.espacio {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.comunidad {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(4, 200px);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 50px;
  grid-template-areas: "com-1 com-1 com-4 com-4 com-5 com-5" "com-1 com-1 com-4 com-4 com-5 com-5" "com-3 com-3 com-2 com-2 com-6 com-6" "com-3 com-3 com-2 com-2 com-6 com-6";
}

.comunidad_grid-1, .comunidad_grid-6, .comunidad_grid-5, .comunidad_grid-4, .comunidad_grid-3, .comunidad_grid-2 {
  grid-area: com-1;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  color: transparent;
}
.comunidad_grid-1 img, .comunidad_grid-6 img, .comunidad_grid-5 img, .comunidad_grid-4 img, .comunidad_grid-3 img, .comunidad_grid-2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.comunidad_grid-1 .texto, .comunidad_grid-6 .texto, .comunidad_grid-5 .texto, .comunidad_grid-4 .texto, .comunidad_grid-3 .texto, .comunidad_grid-2 .texto {
  position: absolute;
  bottom: 0;
  left: 5px;
}
.comunidad_grid-1:hover, .comunidad_grid-6:hover, .comunidad_grid-5:hover, .comunidad_grid-4:hover, .comunidad_grid-3:hover, .comunidad_grid-2:hover {
  color: #fff;
  transform: scale(1.1);
  z-index: 2;
  transition: color 0.3s, transform 0.3s;
}

.comunidad_grid-2 {
  grid-area: com-2;
}

.comunidad_grid-3 {
  grid-area: com-3;
}
.comunidad_grid-3:hover {
  color: #909132;
}

.comunidad_grid-4 {
  grid-area: com-4;
}

.comunidad_grid-5 {
  grid-area: com-5;
}

.comunidad_grid-6 {
  grid-area: com-6;
}

.mural-item_arte {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.espacio {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.aboutUs {
  justify-content: center;
  align-items: center;
  margin: 3.75rem;
}

.AcercaDeNosotros {
  display: flex;
  align-items: center;
}

.producto {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin: 70px;
  gap: 1.25rem;
}

.section-1, .section-9, .section-8, .section-7, .section-6, .section-5, .section-4, .section-3, .section-2 {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  color: transparent;
}
.section-1 img, .section-9 img, .section-8 img, .section-7 img, .section-6 img, .section-5 img, .section-4 img, .section-3 img, .section-2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.section-1 .texto, .section-9 .texto, .section-8 .texto, .section-7 .texto, .section-6 .texto, .section-5 .texto, .section-4 .texto, .section-3 .texto, .section-2 .texto {
  position: absolute;
  bottom: 20px;
  left: 5px;
}
.section-1:hover, .section-9:hover, .section-8:hover, .section-7:hover, .section-6:hover, .section-5:hover, .section-4:hover, .section-3:hover, .section-2:hover {
  color: #fff;
  transform: scale(1.1);
  z-index: 2;
  transition: color 0.3s, transform 0.3s;
}

.section-7:hover {
  color: #b7c443;
}

.section-8:hover {
  color: #b7c443;
}

.section-9:hover {
  color: #b7c443;
}

.mural-item_arte {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.espacio {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.fondo {
  background-image: url("../../asset/img/gif/maxwell-cat.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 320px) and (max-width: 768px) {
  header section .nav-wrapper label {
    display: block;
    display: flex;
    color: #fff;
  }
  header section .nav-wrapper #toggle:checked ~ .menu {
    height: 100%;
  }
  header section .nav-wrapper nav {
    width: auto;
  }
  header section .nav-wrapper nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  header section .nav-wrapper nav ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 320px) {
  .cliente {
    width: 50vw;
    max-width: 768px;
    min-width: 0px;
    height: 50vw;
    max-height: 768px;
    min-height: 0px;
    margin: auto;
    overflow: hidden;
    border: 0.125rem solid;
    border-radius: 100%;
  }
  .cliente-reseña {
    justify-items: center;
    font-size: 1em;
  }
  .reseña {
    flex-direction: column;
  }
  .aumentar-texto {
    font-size: 16px;
  }
  .arte {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(6, 80px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "arte-1 arte-1 arte-1" "arte-1 arte-1 arte-1" "arte-1 arte-1 arte-1" "arte-2 arte-4 arte-4" "arte-2 arte-4 arte-4" "arte-3 arte-5 arte-5";
  }
  .comunidad {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(8, 80px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "com-1 com-1 com-1" "com-1 com-1 com-1" "com-4 com-4 com-4" "com-4 com-4 com-4" "com-5 com-5 com-3" "com-5 com-5 com-3" "com-6 com-6 com-2" "com-6 com-6 com-2";
  }
  .producto {
    flex-wrap: wrap;
  }
}
@media (min-width: 375px) {
  .aumentar-texto {
    font-size: 18px;
  }
  .arte {
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(6, 90px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "arte-1 arte-1 arte-1" "arte-1 arte-1 arte-1" "arte-1 arte-1 arte-1" "arte-2 arte-4 arte-4" "arte-2 arte-4 arte-4" "arte-3 arte-5 arte-5";
  }
  .comunidad {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(8, 90px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "com-1 com-1 com-1" "com-1 com-1 com-1" "com-4 com-4 com-4" "com-4 com-4 com-4" "com-5 com-5 com-3" "com-5 com-5 com-3" "com-6 com-6 com-2" "com-6 com-6 com-2";
  }
}
@media (min-width: 425px) {
  .aumentar-texto {
    font-size: 20px;
  }
  .arte {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(6, 100px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "arte-1 arte-1 arte-1" "arte-1 arte-1 arte-1" "arte-1 arte-1 arte-1" "arte-2 arte-4 arte-4" "arte-2 arte-4 arte-4" "arte-3 arte-5 arte-5";
  }
  .comunidad {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(8, 100px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "com-1 com-1 com-1" "com-1 com-1 com-1" "com-4 com-4 com-4" "com-4 com-4 com-4" "com-5 com-5 com-3" "com-5 com-5 com-3" "com-6 com-6 com-2" "com-6 com-6 com-2";
  }
}
@media (min-width: 768px) {
  .aumentar-texto {
    font-size: 24px;
  }
  .arte {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(5, 140px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "arte-1 arte-1 arte-1 arte-2 " "arte-1 arte-1 arte-1 arte-2" "arte-1 arte-1 arte-1 arte-3" "arte-4 arte-4 arte-5 arte-5" "arte-4 arte-4 arte-5 arte-5";
  }
  .comunidad {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(7, 140px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "com-1 com-1 com-4 com-4" "com-1 com-1 com-4 com-4" "com-5 com-5 com-2 com-3" "com-5 com-5 com-2 com-3" "com-6 com-6 com-6 com-6" "com-6 com-6 com-6 com-6" "com-6 com-6 com-6 com-6";
  }
  .producto {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  .aumentar-texto {
    font-size: 32px;
  }
  .reseña {
    flex-direction: row;
  }
  .arte {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "arte-1 arte-1 arte-1 arte-2 arte-5 arte-5" "arte-1 arte-1 arte-1 arte-2 arte-4 arte-4" "arte-1 arte-1 arte-1 arte-3 arte-4 arte-4";
  }
  .comunidad {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(4, 150px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "com-1 com-1 com-4 com-4 com-5 com-5" "com-1 com-1 com-4 com-4 com-5 com-5" "com-3 com-3 com-2 com-2 com-6 com-6" "com-3 com-3 com-2 com-2 com-6 com-6";
  }
}
@media (min-width: 1440px) {
  .aumentar-texto {
    font-size: 38px;
  }
  .arte {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "arte-1 arte-1 arte-1 arte-2 arte-5 arte-5" "arte-1 arte-1 arte-1 arte-2 arte-4 arte-4" "arte-1 arte-1 arte-1 arte-3 arte-4 arte-4";
  }
  .comunidad {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
    grid-template-areas: "com-1 com-1 com-4 com-4 com-5 com-5" "com-1 com-1 com-4 com-4 com-5 com-5" "com-3 com-3 com-2 com-2 com-6 com-6" "com-3 com-3 com-2 com-2 com-6 com-6";
  }
}

/*# sourceMappingURL=style.css.map */
