@media (min-width:768px){
    .aumentar-texto{
        font-size: map-get($font-size, l );    }
    .arte{
        @include grid(repeat(4, 140px), repeat(5, 140px));
        grid-template-areas: 
        "arte-1 arte-1 arte-1 arte-2 "
        "arte-1 arte-1 arte-1 arte-2"
        "arte-1 arte-1 arte-1 arte-3"
        "arte-4 arte-4 arte-5 arte-5"
        "arte-4 arte-4 arte-5 arte-5"
        ;
    }
    .comunidad{
        @include grid(repeat(4, 140px),repeat(7, 140px));
        grid-template-areas: 
        "com-1 com-1 com-4 com-4"
        "com-1 com-1 com-4 com-4"
        "com-5 com-5 com-2 com-3"
        "com-5 com-5 com-2 com-3"
        "com-6 com-6 com-6 com-6"
        "com-6 com-6 com-6 com-6"
        "com-6 com-6 com-6 com-6"
        ;
    }
}