@media (min-width:320px) and (max-width:768px){
    header{
        section{
            .nav-wrapper{
                label{
                    display: block;
                    display: flex;
                    color: #fff;
                }
                #toggle:checked ~ .menu{
                    height: 100%;
                }
                nav{
                    width: auto;
                    .menu{
                        width: 100%;
                        height: 0;
                        overflow: hidden;
                    }
                    
                    
                    ul{
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
    }
}