@media (min-width:320px){
    .cliente{
    width: 50vw;
    max-width: 768px;
    min-width: 0px;
    height: 50vw;
    max-height: 768px;
    min-height: 0px;
    margin: auto;
    overflow: hidden;
    border: .125rem solid;
    border-radius: 100%;
    }
    .cliente-reseña{
        justify-items: center;
        font-size: 1em;
    }
    .aumentar-texto{
        font-size: 16px;
    }
}