@media (min-width:320px){
    .cliente{
        width: 50vw;
        max-width: 768px;
        min-width: 0px;
        height: 50vw;
        max-height: 768px;
        min-height: 0px;
        margin: auto;
        overflow: hidden;
        border: .125rem solid;
        border-radius: 100%;
    }
    .cliente-reseña{
        justify-items: center;
        font-size: 1em;
    }
    .reseña{
        flex-direction: column;
    }
    .aumentar-texto{
        font-size: 16px;
    }
    .arte{
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(6, 80px);
        grid-template-areas: 
        "arte-1 arte-1 arte-1"
        "arte-1 arte-1 arte-1"
        "arte-1 arte-1 arte-1"
        "arte-2 arte-4 arte-4"
        "arte-2 arte-4 arte-4"
        "arte-3 arte-5 arte-5"
        ;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 1.25rem;
        margin-bottom: 50px;
    }
}