@media (min-width:320px){
    .cliente{
        width: 50vw;
        max-width: 768px;
        min-width: 0px;
        height: 50vw;
        max-height: 768px;
        min-height: 0px;
        margin: auto;
        overflow: hidden;
        border: .125rem solid;
        border-radius: 100%;
    }
    .cliente-reseña{
        justify-items: center;
        font-size: 1em;
    }
    .reseña{
        flex-direction: column;
    }
    .aumentar-texto{
        font-size: map-get($font-size, sm );
    }
    .arte{
        @include grid(repeat(3, 80px), repeat(6, 80px));
        grid-template-areas: 
        "arte-1 arte-1 arte-1"
        "arte-1 arte-1 arte-1"
        "arte-1 arte-1 arte-1"
        "arte-2 arte-4 arte-4"
        "arte-2 arte-4 arte-4"
        "arte-3 arte-5 arte-5"
        ;
    }
    .comunidad{
        @include grid(repeat(3, 80px),repeat(8, 80px));
        grid-template-areas: 
        "com-1 com-1 com-1"
        "com-1 com-1 com-1"
        "com-4 com-4 com-4"
        "com-4 com-4 com-4"
        "com-5 com-5 com-3"
        "com-5 com-5 com-3"
        "com-6 com-6 com-2"
        "com-6 com-6 com-2"
        ;
    }
    .producto{
        flex-wrap: wrap;
    }
}