@media(min-width:375px){
    .aumentar-texto{
        font-size: map-get($font-size, md );    
    }
    .arte{
        display: grid;
        @include grid(repeat(3, 90px), repeat(6, 90px));
        grid-template-areas: 
        "arte-1 arte-1 arte-1"
        "arte-1 arte-1 arte-1"
        "arte-1 arte-1 arte-1"
        "arte-2 arte-4 arte-4"
        "arte-2 arte-4 arte-4"
        "arte-3 arte-5 arte-5"
        ;
    }
    .comunidad{
        @include grid(repeat(3, 90px),repeat(8, 90px));
        grid-template-areas: 
        "com-1 com-1 com-1"
        "com-1 com-1 com-1"
        "com-4 com-4 com-4"
        "com-4 com-4 com-4"
        "com-5 com-5 com-3"
        "com-5 com-5 com-3"
        "com-6 com-6 com-2"
        "com-6 com-6 com-2"
        ;
    }
}