@media(min-width:375px){
    .aumentar-texto{
        font-size: 18px;
    }
    .arte{
        display: grid;
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(6, 90px);
        grid-template-areas: 
        "arte-1 arte-1 arte-1"
        "arte-1 arte-1 arte-1"
        "arte-1 arte-1 arte-1"
        "arte-2 arte-4 arte-4"
        "arte-2 arte-4 arte-4"
        "arte-3 arte-5 arte-5"
        ;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 1.25rem;
        margin-bottom: 50px;
    }
}