@media (min-width:1440px){
    .aumentar-texto{
        font-size: map-get($font-size, xxl );    }
    .arte{
        @include grid(repeat(6, 200px), repeat(3, 200px));
        grid-template-areas: 
        "arte-1 arte-1 arte-1 arte-2 arte-5 arte-5"
        "arte-1 arte-1 arte-1 arte-2 arte-4 arte-4"
        "arte-1 arte-1 arte-1 arte-3 arte-4 arte-4"
        ;
    }
    .comunidad{
        @include grid(repeat(6, 200px),repeat(4, 200px));
        grid-template-areas: 
        "com-1 com-1 com-4 com-4 com-5 com-5"
        "com-1 com-1 com-4 com-4 com-5 com-5"
        "com-3 com-3 com-2 com-2 com-6 com-6"
        "com-3 com-3 com-2 com-2 com-6 com-6"
        ;
    }
}