$font-size:(
    sm: 16px,
    md: 18px,
    mdl: 20px,
    l: 24px,
    xl: 32px,
    xxl: 38px,
);
$size-img:(
    sm: 80px,
    md: 90px,
    mdl: 100px,
    l: 24px,
    xl: 32px,
    xxl: 38px,
)