.fondo{
    background-image:url("../../asset/img/gif/maxwell-cat.gif") ;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
}