#footer {
    display: flex;
    background-color: #303030;
    position: sticky;
    padding-bottom: 0;
    margin: 0;
    .acomodar{
        display: flex;
            .copyright{
                display: flex;
                list-style-type: none;
                gap: .625rem;
                margin: 10px;
                padding: 1.875rem;
                color: #fff;
            }
        .mover{
            display: flex;
            align-items: center;
            .red{
                display: flex;
                justify-content: flex-end;
                position: absolute;
                list-style-type: none;
                right: 0;
                gap: .625rem;
                margin: 10px;
                padding: 10px;
                li{
                    width: 100%;
                    img{
                        width: 2.5rem;
                    }
                }
            }
        }
    }
}