.arte{
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: 
    "arte-1 arte-1 arte-1 arte-2 arte-5 arte-5"
    "arte-1 arte-1 arte-1 arte-2 arte-4 arte-4"
    "arte-1 arte-1 arte-1 arte-3 arte-4 arte-4"
    ;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
}
.arte_grid-1{
    grid-area: arte-1;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}
.arte_grid-2{
    @extend .arte_grid-1;
    grid-area: arte-2;
}
.arte_grid-3{
    @extend .arte_grid-1;
    grid-area: arte-3;
}
.arte_grid-4{
    @extend .arte_grid-1;
    grid-area: arte-4;
}
.arte_grid-5{
    @extend .arte_grid-1;
    grid-area: arte-5;
}
.mural-item_arte{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.espacio{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
