.reseña{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    align-items: center;
    font-size: 1em;
    gap: 40px;
    display: flex;
    }
.move{
    display: flex;
    flex-direction:row-reverse;
    }
.cliente{
    width: 35vw;
    max-width: 1000px;
    min-width: 320px;
    height: 35vw;
    max-height: 1000px;
    min-height: 320px;
    margin: auto;
    overflow: hidden;
    border: .125rem solid;
    border-radius: 100%;
    img{
        width: 100%;
    }
}