.arte{
    @include grid(repeat(6, 200px),repeat(3, 200px));
    grid-template-areas: 
    "arte-1 arte-1 arte-1 arte-2 arte-5 arte-5"
    "arte-1 arte-1 arte-1 arte-2 arte-4 arte-4"
    "arte-1 arte-1 arte-1 arte-3 arte-4 arte-4"
    ;
}
.arte_grid-1{
    @include grid-section(arte-1);
    &:hover{
        transform: scale(1.1);
        z-index: 2;
        transition: transform 0.3s;
    }
}
.arte_grid-2{
    @extend .arte_grid-1;
    grid-area: arte-2;
}
.arte_grid-3{
    @extend .arte_grid-1;
    grid-area: arte-3;
}
.arte_grid-4{
    @extend .arte_grid-1;
    grid-area: arte-4;
}
.arte_grid-5{
    @extend .arte_grid-1;
    grid-area: arte-5;
}
.mural-item_arte{
    position: relative;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    min-width: 20px;
    height: 100%;
    max-height: 100%;
    min-height: 20px;
}
.espacio{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.agregar{
    border-radius: 5px;
    width: 50%;
    height: 10vh;
    &:hover{
        background-color: rgb(57, 205, 231);
        transition: background-color 0.3s;
    }
}