.producto{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 70px;
    gap: 1.25rem;
}
.section-1{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    color: transparent;
    .texto{
        position: absolute;
        bottom: 20px;
        left: 5px;
    }
    &:hover{
        color: #fff;
        transform: scale(1.2);
        z-index: 2;
        transition: color 0.3s, transform 0.3s;
    }
}
.section-2{
    @extend .section-1;
}
.section-3{
    @extend .section-1;
}
.section-4{
    @extend .section-1;
}
.section-5{
    @extend .section-1;
}
.section-6{
    @extend .section-1;
}
.section-7{
    @extend .section-1;
    &:hover{
        color: #b7c443
    }
}
.section-8{
    @extend .section-1;
    &:hover{
        color: #b7c443
    }
}
.section-9{
    @extend .section-1;
    &:hover{
        color: #b7c443
    }
}
.mural-item_arte{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.espacio{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
