.comunidad{
    @include grid(repeat(6, 200px),repeat(4, 200px));
    grid-template-areas: 
    "com-1 com-1 com-4 com-4 com-5 com-5"
    "com-1 com-1 com-4 com-4 com-5 com-5"
    "com-3 com-3 com-2 com-2 com-6 com-6"
    "com-3 com-3 com-2 com-2 com-6 com-6"
    ;
}
.comunidad_grid-1{
    @include grid-section(com-1);
    color: transparent;
    
    .texto{
        position: absolute;
        bottom: 0;
        left: 5px;
    }
    &:hover{
        color: #fff;
        transform: scale(1.2);
        z-index: 2;
        transition: color 0.3s, transform 0.3s;
    }
}
.comunidad_grid-2{
    @extend .comunidad_grid-1;
    grid-area: com-2;
}
.comunidad_grid-3{
    @extend .comunidad_grid-1;
    grid-area: com-3;
    &:hover{
        color: #909132;
    }
}
.comunidad_grid-4{
    @extend .comunidad_grid-1;
    grid-area: com-4;
}
.comunidad_grid-5{
    @extend .comunidad_grid-1;
    grid-area: com-5;
}
.comunidad_grid-6{
    @extend .comunidad_grid-1;
    grid-area: com-6;
}
.mural-item_arte{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.espacio{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}